* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
  /* todas linhas acima são resets */
}

/* criação de variaveis globais */
:root {
  --primary-color: #f07807;
  --secundary-color: #fef2e7;
  --default-shadow: 0 4px 4px #0004;
  --defaul-padding: 0px 80px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  /* fonte da escrita retirada do modelo figma*/
  background-color: var(--secundary-color);
}

header {
  position: fixed;
  /* Altera a camada, remove a referência do pai e deixa fixo na tela do usuário */
  display: flex;
  justify-content: space-between;
  /* espaço entre os itens*/
  height: 60px;
  width: 100%;
  top: 60px;
  align-items: center;
  /* Centraliza o botão de login */
  padding: var(--defaul-padding);
  background-color: #fff1;
  z-index: 999;
}

header menu {
  display: flex;
  justify-content: center;
  align-items: center;
  /* centralizar  itens do menu */
  gap: 48px;
  /* Distancia entre os conteudos do menu */
  font-size: 16px;
}

header li {
  transition: 0.5s;
  /* delay para aparecer as configurações dos conteudos li */
  padding: 4px 8px;
  /* espaço entre os itens do menu */
}

header li:hover {
  background-color: var(--secundary-color);
  /* cor de fundo que vai aparecer quando passarmos o mouse nos itens do menu */
  box-shadow: var(--default-shadow);
  /* adicinando sombra para a cor de fundo do menu */
}

header button {
  height: 48px;
  width: 120px;
  background-color: var(--secundary-color);
  border-radius: 12px;
  border: none;
  box-shadow: var(--default-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: 900;
  /* Aumenta a largura da fonte escrita, conteudo */
  color: var(--primary-color);
}

section {
  height: 100vh;
  padding: var(--defaul-padding);
}

.home {
  background-image: url(./img/background.svg);
  /* url é uma funcao para adicionar imagem */
  background-repeat: no-repeat;
  /* Cancela a repetição das imagens */
  background-position: top right;
  /* alinha no todo e lado direito */
  background-size: contain;
  /* Aumenta proporcionalmente altura e largura da imagem até a borda do container */
  display: grid;
  grid-template-rows: 70% 30%;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 64px;
}

.hero h2 {
  width: 558px;
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 64px;
}
/* Aumentar a distancia entre o slogan e as opções de pizza */
.hero span {
  color: var(--primary-color);
}

.container-produtos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pizza {
  display: flex;
  border-radius: 12px;
  position: relative;
}

.add-produto {
  position: absolute;
  top: -16px;
  right: -16px;
  display: grid;
  place-content: center;
  font-size: 32px;
  height: 40px;
  width: 40px;
  border-radius: 12px;
  background-color: var(--primary-color);
  color: #fff;
  border: 4px solid #fff;
  opacity: 0;
  /* transparencia do item */
  transition: 0.5s;
}

.pizza:hover .add-produto {
  /* hover é uma funcionalidade que é ativada  quando passa o curso do mouse*/
  opacity: 1;
  /* Torna o objeto aparente */
}

.animacao {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  border-radius: 0 0 12px 12px;
}

.container-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0008;
  height: 36px;
  position: absolute;
  padding: 0 12px;
  /* o problema dos objetos tranparente estarem muito perto da borda era por que havia dois zeros após o número do 12 */
  bottom: 0;
  width: 99%;
  border-radius: 0 0 12px 12px;
  bottom: -36px;
}

.pizza:hover .container-info {
  /* hover é uma funcionalidade */
  bottom: 0;
  transition: 0.5s;
}

.container-info p {
  width: 120px;
  font-size: 12px;
  color: #fff;
}

.container-info span {
  font-size: 12px;
  display: grid;
  place-content: centers;
  width: 57px;
  height: 20px;
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 6px;
}

.cardapio {
  background-color: #fff;
  flex-direction: column;
  display: flex;
  height: 1000px;
}

.titulo-secao {
  display: flex;
  align-items: center;
  gap: 24px;
}

.titulo-secao h3 {
  font-size: 40px;
  color: #f07807;
  text-transform: uppercase;
  /* deixa o texto em maiusculo */
  font-weight: 600;
}

.opcoes-cardapio {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* espaço diferente entre os objetos */
  height: 300px;
  border-bottom: 2px solid #f07807;
  /* padding-bottom: 30px; */
}

.titulo-opcoes {
  display: flex;
  justify-content: space-between;
  color: #f07807;
}

.titulo-opcoes h4 {
  font-size: 1.5rem;
}

.titulo-opcao a {
  font-size: 1.5rem;
  font-weight: 600;
}

.pizza.bebida {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 16px;
  transition: 5s;
  /* tempo de transição */
}

.pizza.bebida:hover {
  box-shadow: 2px 2px 8px #ccc;
}

.pizza.bebida .valor {
  color: #f07807;
  width: 100%;
}

.pizza.bebida .descricao {
  font-size: 8px;
}

.servicos {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.opecoes-servico {
  display: flex;
  justify-content: space-between;
}

.servico-card {
  width: 400px;
  height: 500px;
  border: 4px solid var(--primary-color);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px;
}

.servico-card img {
  /* sombra na imagem */
  filter: drop-shadow(2px 2px 4px #667);
}

.servico-card h4 {
  /* tamanho da fonte */
  font-size: 2.5rem;
  color: #f07807;
  /* Grossura da linha */
  font-weight: 500;
  /* Sombra do texto */
  text-shadow: 2px 2px 2px #667;
}

.servico-card p {
  text-align: center;
  font-size: 1.2rem;
}

footer {
  background-color: var(--primary-color);
  height: 526px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.contatos-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  gap: 32px;
  width: 70%;
}

.contatos-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 120px;
}

.contatos-item.logo {
  justify-content: center;
  padding: 0;
}

.contatos-item menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: start;
  font-weight: 400;
}

.contatos-item h4 {
  font-size: 1.5rem;
}

.contatos-item li {
  display: flex;
  gap: 16px;
}

.social a {
  width: 50px;
  height: 50px;
  display: grid;
  place-content: center;
  border: 2px solid white;
  border-radius: 50%;
  font-size: 1.5rem;
  transition: 0.5s;
}

.social a:hover {
  background-color: var(--secundary-color);
  color: var(--primary-color);
}

.creditos {
  display: grid;
  place-content: center;
  height: 72px;
  border-top: 1px solid var(--secundary-color);
  width: 100%;
  font-size: 0.7rem;
  font-weight: 300;
  font-style: italic;
}
/* TABLET */
@media (max-width: 1024px) {
  header {
    position: absolute;
    top: 48px;
    left: 0;
    background-color: transparent;
  }

  header menu {
    width: 100vw;
    height: 64px;
    background-color: var(--primary-color);
    color: var(--secundary-color);
    position: fixed;
    left: 0;
    bottom: 0;
    justify-content: space-around;
    z-index: 999;
    /* pointer-events: none; */
    /* eventos do ponteiro */
  }

  header li:hover {
    color: var(--primary-color);
  }

  .home {
    grid-template-rows: none;
  }

  .hero {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: end;
    padding-bottom: 64px;
  }

  /* .container-produtos{
    display: none;
  } */
  .home .container-produtos {
    display: none;
  }

  .container-produtos {
    gap: 32px;
  }
  .container-produtos .pizza:nth-last-child(4),
  .container-produtos .pizza:nth-last-child(3) {
    display: none;
  }

  .container-produtos .pizza img {
    width: 100%;
  }

  .cardapio {
    justify-content: center;
    gap: 10px;
  }
  .opcoes-cardapio {
    height: auto;
  }
  .pizza.bebida:nth-last-child(1) {
    display: none;
  }
  .opecoes-servico {
    flex-direction: column;
  }
  .servico-card {
    width: 100%;
    flex-wrap: wrap;
  }
  .servico-card p {
    width: 60%;
  }
  .contatos-container {
    flex-direction: column;
    flex-wrap: wrap;
    height: 400px;
    justify-content: center;
  }
  .contatos-item:nth-last-of-type(2) {
    display: none;
  }
  .contatos-item {
    padding: 0;
  }
  .contatos-item.social {
    align-items: end;
  }
  .creditos {
    margin-bottom: 96px;
  }
}
/* MOBILE */
@media (max-width: 768px) {
  .home {
    background-color: #f07807;
    background-image: url(./img/background-mobile.png);
    background-repeat: no-repeat;
    width: 100%;
    padding:0 ;
    background-size: cover;
  }

  .hero {
    /* justify-content: end;
    padding: 0;
    align-self: end; */
    /* height: auto; */
    width: 100%;
    background-color: #667;
    /* padding-right: 100px; */
  }
  .hero h2 {
    background-color: aqua;
    color: var(--secundary-color);
    font-weight: 500;
    height: 192px;
    width: 287px;
    font-size: 2.5rem;
    margin-bottom: 0;
  
  }

  .hero img {
    display: none;
  }
  .pizza:nth-last-child(1) {
    display: none;
  }
  .pizza.bebida:nth-last-child(5),
  .pizza.bebida:nth-last-child(6) {
    display: none;
  }
  .container-produtos {
    justify-content: center;
  }
  .opecoes-servico {
    gap: 30px;
  }
  .servico-card {
    height: auto;
  }
  .servico-card p {
    display: none;
  }
  
}
